.no-slider .slider {
    pointer-events: none;
}

.modal {
    font-family: var(--font-primary);
    position: absolute;
    top: 54px;
    right: 27px;
    width: 0;
    height: 0;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}

.modal--show {
    opacity: 1;
    visibility: visible;
    width: auto;
    height: auto;
}

.modal__background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modal__content {
    opacity: 0;
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 30px;
    padding-top: 50px;
    height: 100%;
}

.modal--show .modal__content {
    opacity: 1;
    backdrop-filter: blur(20px);
    transition:
        opacity 0.4s ease,
        backdrop-filter 0.4s ease;
}

.modal--show + .main-content {
    pointer-events: none;
}

.title-empty-message {
    text-align: center;
    font-size: 40px;
    padding-bottom: 50px;
}

.modal__close {
    position: absolute;
    top: 22px;
    right: 23px;
    cursor: pointer;
    background-image: url("../images/ui/x.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: none;
    width: 36px;
    height: 36px;
}

.modal__title {
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    line-height: 1;
    margin-left: 48px;
}

.modal__close {
    cursor: pointer;
}

/* Specific modal sizes */
#modal-cart .modal__content {
    width: 619px;
    max-height: 906px;
    background: rgba(51, 32, 101, 0.18);
}

#modal-favorites .modal__content {
    width: 619px;
    max-height: 906px;
    background: rgba(51, 32, 101, 0.25);
}

#modal-login .modal__content,
#modal-registration .modal__content {
    width: 610px;
    max-height: 604px;
    background: rgba(51, 32, 101, 0.18);
}

.modal--hidden {
    /* display: none; */
    visibility: hidden;
    opacity: 0;
}

.modal__form {
    display: flex;
    flex-direction: column;
    padding: 58px 48px 42px 48px;
    height: 100%;
}

.input-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 513px;
    margin-bottom: 40px;
}

.last-input-wrapper {
    margin-bottom: 0;
}

.modal__label {
    position: absolute;
    top: 9px;
    left: 0px;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: all 0.3s ease;
}

.modal__field {
    font-family: var(--font-primary);
    color: #fff;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid #d9ff5a;
    background: transparent;
    outline: none;
    font-weight: 500;
}

.input-wrapper:focus-within .modal__label,
.modal__field:not(:placeholder-shown) + .modal__label {
    opacity: 0;
    transform: translateY(-10px);
}

.input-wrapper:focus-within .modal__label,
.input-wrapper.input--filled .modal__label {
    opacity: 0;
    transform: translateY(-10px);
}

.modal__submit {
    font-family: var(--font-primary);
    color: var(--color-white);
    font-weight: 500;
    font-size: 20px;
    border: none;
    cursor: pointer;
    margin-right: auto;
    margin-top: 49px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
}

.modal__submit--login {
    background-image: url("../images/ui/btn-login.svg");
    width: 119px;
    height: 85px;
}

.modal__submit--registration {
    margin-top: 44px;
    background-image: url("../images/ui/btn-register.svg");
    width: 189px;
    height: 97px;
}

.modal__switch {
    margin-top: auto;
    display: flex;
    flex-direction: row;
    margin-top: 70px;
    padding-bottom: 6px;
}

.modal__switch span {
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.modal__switch a {
    display: flex;
    align-items: center;
    flex-direction: row;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 25px;
    cursor: pointer;
}

.modal__switch a:hover {
    text-decoration: underline;
}

.modal__switch--login a:after {
    content: "";
    display: block;
    background-image: url("../icons/arrow-switch.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: none;
    width: 41px;
    height: 16px;
    margin-left: 16px;
}

.modal__switch--registration a {
    margin-left: 0;
}

.modal__switch--registration a::before {
    content: "";
    display: block;
    background-image: url("../icons/arrow-switch.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    transform: rotate(180deg);
    border: none;
    width: 41px;
    height: 16px;
    margin-right: 16px;
}

/* Стили для сообщения об ошибке */
.error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
  }
  
  /* Стили для поля с ошибкой */
  .input-error {
    border-bottom-color: red;
  }
